[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
noise = "*"
cx_Freeze = "*"
Cython = "*"
pyglet = {git = "https://github.com/pyglet/pyglet.git"}

[requires]
python_version = "3.8"
